* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.list-group-item {
  font-weight: lighter;
}
.task-check {
  margin-right: 10px;
}
.task-text {
  cursor: pointer;
  font-size: 32px;
  line-height: 42px;
}
.task-completed {
  text-decoration: line-through;
}
.time-created {
  margin-left: 20px;
}
.priority-meta {
  margin: 20px 0 0 10px;
}
.priority-label {
  cursor: pointer;
  margin-left: 4px;
}
.priority-label.inactive {
  color: #777;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
